$primary-color: #008577;
$danger-color: #ff2828;
$primary-button-hover: #34a4a9;
$navbar-height: 4.625rem;
$white_text_color: #ffff;
$background-image-url: url('/intreprid_background_image.png');
$image-container-url: url('/imgContainer.png');
